.mc-main div, .mc-main span, .mc-main h1, .mc-main h2, .mc-main h3, .mc-main h4, .mc-main h5, .mc-main h6, .mc-main p, .mc-main blockquote, .mc-main pre, .mc-main a, .mc-main abbr, .mc-main acronym, .mc-main address, .mc-main big, .mc-main cite, .mc-main code, .mc-main del, .mc-main dfn, .mc-main font, .mc-main img, .mc-main ins, .mc-main kbd, .mc-main q, .mc-main s, .mc-main samp, .mc-main small, .mc-main strike, .mc-main sub, .mc-main sup, .mc-main tt, .mc-main var, .mc-main center, .mc-main dl, .mc-main dt, .mc-main dd, .mc-main ol, .mc-main ul, .mc-main li, .mc-main fieldset, .mc-main form, .mc-main label, .mc-main legend, .mc-main table, .mc-main caption, .mc-main tbody, .mc-main tfoot, .mc-main thead, .mc-main tr, .mc-main th, .mc-main td, .mc-main article, .mc-main aside, .mc-main audio, .mc-main canvas, .mc-main details, .mc-main figcaption, .mc-main figure, .mc-main footer, .mc-main header, .mc-main hgroup, .mc-main mark, .mc-main menu, .mc-main meter, .mc-main nav, .mc-main output, .mc-main progress, .mc-main section, .mc-main summary, .mc-main time, .mc-main video {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

article, .mc-main aside, .mc-main dialog, .mc-main figure, .mc-main footer, .mc-main header, .mc-main hgroup, .mc-main nav, .mc-main section, .mc-main blockquote {
    display: block;
}

nav ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: circle;
}

blockquote, .mc-main q {
    quotes: none;
}

blockquote:before, .mc-main blockquote:after, .mc-main q:before, .mc-main q:after {
    content: none;
}

ins {
    text-decoration: underline;
}

del {
    text-decoration: line-through;
}

mark {
    background: none;
}

abbr[title], .mc-main dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mc-main input[type=submit], .mc-main input[type=button], .mc-main button {
    margin: 0 !important;
    padding: 0 !important;
}

input, .mc-main select, .mc-main a img {
    vertical-align: middle;
}

.mc-main *, .mc-main *:before, .mc-main *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mc-main .screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    max-height: 1px;
}